body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 6fr 2fr;
    grid-gap: 1rem;
    grid-template-areas:
    "header     header      header      header      header"
    "second-header   second-header second-header     second-header     second-header"
    /* "features   features    features    features    features"       
    "tell       tell        tell        tell        tell" */
    "banner     banner      banner      banner      banner"
    "blankleft main        main        sidebar     blankright"    
    "footer     footer      footer      footer      footer"
}

#header{
    grid-area: header;
    padding: 0;
    margin: 0;        
}

#second-header{
    grid-area: second-header;
    
}

#tell-button{
    grid-area: tell;
}

#banner{
    grid-area: banner;

}

#main{
    grid-area: main;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
#first-article, #second-article{
    padding: 30px;
    margin-bottom: 5px;
}

.special-line-double{    
    margin-top: 35px;
    border-top: groove;
    height: 2px;
    border-bottom: groove;
    /* flex-basis: fit-content; */
    
}

.special-line-single{
    padding-top: 20px;
    border-bottom: solid gray;
}

.wrap{
    float: left;
    margin: 15px;
}
.sidetext{
    margin-bottom: 50px;
}

#learn-more{
    margin-bottom: 10px;
}
#blank-side-left, #blank-side-right{
    padding-right: 10px;
    padding-left: 10px;
}

.date{
    text-align: center;
    border: solid;
    background-color: gray;
    padding: 4px 6px 4px 6px;
    border-radius: 7px;
    width: 4em;

}
#tagline{
    padding-top: 20px;
    padding-bottom: 20px;
}


#sidebar{
    grid-area: sidebar;
}

#blank-side-left{
    grid-area: blank-side-left;
}

#blank-side-right{
    grid-area: blank-side-right;
}

#footer{
    grid-area: footer;
}

#pagehome{
    margin-top: 5px;
    padding: 0;
}
img{
    width: 100%;
    box-shadow: 0px 2px 4px 0px gray;
}
#homepage{
    font-size: 36px;
    padding-top: 20px;
    margin: 0;
}

#features{
    grid-area: features;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 300px;
    padding-right: 300px;
    
}

.centered{
    display: flex;
    justify-content: center;
}

#quote{ 
    height: 150px;
    border: 1px solid black;
    align-items: center;
    margin: 10px;
    background-color: gray;
    font-size: 24px;
}

.boxed{
    padding: 20px;
    border-top-style: double;
}

#image-one, #image-two, #image-three{
    text-align: center;
}
    
/********footer styles *************/
#footer{
    margin: 0 auto;
    background-color: rgb(236, 233, 233);
    max-width: 90vw;
    max-height: 600px;
    font-family: Arial, Helvetica, sans-serif;
} 
.footerContainer{
    max-width: 70%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 1rem;
    grid-template-areas:
        "footerHeader footerHeader footerHeader footerHeader"
        "footerForm footerForm footerInfo footerInfo"
        "footerForm footerForm footerContact footerContact";
}
.footerHeader{
    font-variant: small-caps;
    text-align: center;
    font-size: 1.4rem;
    grid-area: footerHeader;
}
.footerForm{
    grid-area: footerForm;
}
.footerInfo{
    grid-area: footerInfo;
    padding: 5px 10px;
    text-align: justify;
    display: flex;
    align-items: flex-start;
}
.footerContact{
    grid-area: footerContact;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-size: .75em;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grayFont {
    color: #a9a9a9;
}
.darkerGray {
    color: #696969;
}
#footer .formRowOne{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    margin-bottom: 10px;
}
.formRowOne input{
    height: 30px;
    box-shadow: 0px 4px 8px 0px gray;
    border-radius: 2px;
    font-size: 1.2em;
    border: none;
    margin-right:10px;
    margin-top: 5px;
    width: 95%;
}
.formRowTwo{
    display:grid;
    grid-template-columns: 1fr;
    padding: 5px;
    margin-bottom: 10px;
}
.formRowTwo textarea{
    min-width: 320px;
    min-height: 150px;
    width: 95%;
    margin-right: 10px;
    box-shadow: 0px 4px 8px 0px gray;
    border-radius: 2px;
    border:none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    background-color: brown;
    color: white;
    padding: 10px 30px 10px 30px;
    font-size: .9rem;
    border-radius: 7px;
    border-style: none;
    box-shadow: 0px 4px 8px 0px gray;
}
button:hover{
    background-color: lightblue;
}
#footer ul li{
    list-style-type: none;
    padding: 5px;
}


#listFormat{
    display: flex;
    flex-direction: row;
    padding: none;
    
}

.right{
    padding-left: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.left{
    margin: 0px;
}

#footer ul{
    padding: 5px;
}
/******Blog post styles ************************/

.caption {
    font-size: .95rem;
    margin-top: 1rem;
    font-variant: small-caps;
}
.article-title h2{
    font-variant: small-caps;
}
.article-body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: justify;
}

.banner {
    /* The image used */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e2/Parque_nacional_y_reserva_Denali%2C_Alaska%2C_Estados_Unidos%2C_2017-08-30%2C_DD_72.jpg");
  
    /* Set a specific height */
    height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
