body{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 4fr, 1fr;
    grid-gap: 1rem;
    grid-template-areas:
    "header     header      header      header      header"
    "tagline    tagline     tagline     tagline     tagline"
    "features   features    features    features    features"       
    "tell       tell        tell        tell        tell"
    "banner     banner      banner      banner      banner"
    "blankside1 main        main        sidebar     blankside2"    
    "footer     footer      footer      footer      footer"
}

#header{
    grid-area: header;
    padding: 0;
    margin: 0;    
    
}

#tagline{
    grid-area: tagline;
}

#tell-button{
    grid-area: tell;
}

#banner{
    grid-area: banner;

}

#main{
    grid-area: main;
}

#sidebar{
    grid-area: sidebar;
}

#blank-side1{
    grid-area: blank-side1;
}

#blank-side2{
    grid-area: blank-side2;
}

#footer{
    grid-area: footer;
}

#pagehome{
    margin-top: 5px;
    padding: 0;
}


#homepage{
    font-size: 36px;
    padding-top: 20px;
    margin: 0;
}

#features{
    grid-area: features;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 300px;
    padding-right: 300px;
}

.centered{
    display: flex;
    justify-content: center;
}

#quote{
    align-items: center;
    margin: 10px;
    font-size: 2.2rem;
    color: white;
    padding: 5px;
    align-items: center;
}

.boxed{
    padding: 20px;
    border-top-style: double;
}

#image-one, #image-two, #image-three{
    text-align: center;
}
button{
    background-color: brown;
    color: white;
    padding: 10px 60px 10px 60px;
    font-size: .9rem;
    border-radius: 7px;
    border-style: none;
    box-shadow: 0px 4px 8px 0px gray;
}
button:hover{
    background-color: lightblue;
}
.grayFont {
    color: #a9a9a9;
}
.darkerGray {
    color: #696969;
}
/********footer styles *************/
#footer{
    margin: 0 auto;
    background-color: rgb(236, 233, 233);
    max-width: 90vw;
    max-height: 600px;
    font-family: Arial, Helvetica, sans-serif;
} 
.footerContainer{
    max-width: 70%;
    margin: 0 auto;
    display:grid;
    grid-template-d columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-gap: 1rem;
    grid-template-areas:
        "footerHeader footerHeader footerHeader footerHeader"
        "footerForm footerForm footerInfo footerInfo"
        "footerForm footerForm footerContact footerContact";
}

.footerHeader{
    font-variant: small-caps;
    text-align: center;
    font-size: 1.4rem;
    grid-area: footerHeader;
}
.footerForm{
    grid-area: footerForm;
}
.footerInfo{
    grid-area: footerInfo;
    padding: 5px 10px;
    text-align: justify;
    display: flex;
    align-items: flex-start;
}
.footerContact{
    grid-area: footerContact;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer
.formRowOne{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
    margin-bottom: 10px;
}
.formRowOne input{
    height: 30px;
    box-shadow: 0px 4px 8px 0px gray;
    border-radius: 2px;
    font-size: 1.2em;
    border: none;
    margin-right:10px;
    margin-top: 5px;
    width: 95%;
}
.formRowTwo{
    display:grid;
    grid-template-columns: 1fr;
    padding: 5px;
    margin-bottom: 10px;
}
.formRowTwo textarea{
    min-width: 320px;
    min-height: 150px;
    width: 95%;
    margin-right: 10px;
    box-shadow: 0px 4px 8px 0px gray;
    border-radius: 2px;
    border:none;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
.footerContact ul{
    list-style-type: none;
}
.footerContact ul li{
    padding: 5px;
    margin-bottom: 5px;
}
li i {
    margin-right: 5px;
}


/********blog-post styles **********************/
img{
    width: 100%;
    box-shadow: 0px 2px 4px 0px gray;
}
.article-img{

}
.caption {
    font-size: .95rem;
    margin-top: 1rem;
}
.article-title h2{
    font-variant: small-caps;
}
.article-body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-align: justify;
}

.banner {
    /* The image used */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/43/Cow_on_Pupers.jpg");
  
    /* Set a specific height */
    height: 200px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
